<!doctype html>

<html lang="pl">
<head>
  <meta charset="utf-8">

  <title>Kolory</title>
  <meta name="description" content="Aplikacja zmieniajaca kolory">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
</head>

<body>
  <div id="app" style="min-height: 100vh">
    <div class='main-container'> 
      <div v-if="selectOptionsButton" class='btn-container'>
          <button @click='setDefaultOptions' class='btn btn-primary'>Wybierz domyślne kolory</button>
          <button @click='setManualOptions' class='btn btn-primary'>Wybierz kolory</button>
      </div>
      <div v-if="time" @click='resetTime' class='main-container' :style="{ backgroundColor: activeColor, width: '100vw' }"></div>
      <div v-if="defaultOptions">
        <div class='text-center'>Zmiana koloru po:</div>
        <div class='btn-container'>
          <div v-for="button in buttons">
            <button class='btn btn-primary' @click='setTime(button.time)'>{{button.time}}</button>
          </div>
          </div>
      </div>
      <div v-if="manualOptions">
        <div class='text-center'>
          Usuń kolor
        </div>
        <div class="btn-container">
          <div v-for="color in colors" class='color-box' :style="{ backgroundColor: color }" @click="removeColor(color)"></div>
        </div>
        <div class='text-center'>Zmiana koloru po:</div>
        <div class='btn-container'>
          <div v-for="button in buttons">
            <button class='btn btn-primary' @click='setTime(button.time)'>{{button.time}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src='script.js'></script>
</body>
</html>